{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/node_modules/bootstrap-icons/bootstrap-icons.css' %}">

    <style type="text/css" media="all">
    *{
        margin : 0;
        padding : 0;
        box-sizing : border-box;
        font: 15px "Century Gothic", "Times Roman";
        

    }
    
    </style>
</head>
<body class="bg-light">
    {% include 'header.html' %}
    <br>
    <br>
    <br>
    <br>
    <br>
    
<!-- This section below is for form -->
   <section>

    <div class="container">

        <div class="row">

            <div class="col-md-3"> 
               
                  <a href="{% url 'manager' %}">Back to home</a> 
            </div>
            <center>
            <div class="col-md-6">
                
                
                <form action="" method="POST" class="shadow-lg p-5 w-75 rounded-3 bg-white" autocomplete="off" id="login-form">
                    <h3 class="fw-bolder fs-4 bg-info-subtle p-3 rounded-3">
                        Add Stock Data

                    </h3>
                        
                        {% csrf_token %}
                        {% for message in messages %}
                        {% if message.tags == 'success' %}

                        <div class="alert alert-{{message.tags}} alert-success text-center alert-dismissible fade show p-4 w-100" role="alert">
                            {{message}}
                            
                         </div>
                         {% else %}
                         <div class="alert alert-{{message.tags}} alert-danger text-center alert-dismissible fade show p-4 w-100" role="alert">
                            {{message}}
                            
                         </div>
                    {% endif %}
                    {% endfor %}
                        
                        <select class="form-select form-control form-control-lg p-3" aria-label="Default select example" name="name">
                            <option selected disabled>Stock Name</option>
                            <option value="Polyunwana Bottle Water">Polyunwana Bottle Water</option>
                            <option value="Polyunwana Pure Water">Polyunwana Pure Water</option>
                            
                        </select>
                        <br>
                        <div class="form-floating">
                            <input type="text" class="form-control" name="price" value="{{ request.POST.price|default_if_none:'' }}">
                            <label for="floatingInputInvalid">Stock Price (Per Bag/Pallet)</label>
                        </div>
                        <br>
                       <div class="form-floating">
                        <input type="text" class="form-control" name="quantity">
                        <label for="floatingInputInvalid">Quantity Available</label>
                       </div>
                        <br>
                        <button type="submit" class="btn btn-info p-3 w-100">
                            <span id="spinner" class="spinner-border d-none fs-5 text-center text-dark" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </span>
                               <span class='d-block fs-5 fw-bold' id='trigger'>Update Data</span> 
                            </button>
                        
                        
                    </form>
                </center>
                    

                       
            </div>
            <div class="col-md-3"></div>

        </div>


    </div>
 </section>
<script>
        document.getElementById('login-form').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent default form submission
    const spinner = document.getElementById('spinner');
    const createAccountTxt = document.getElementById('trigger');
    spinner.classList.remove('d-none'); // Show the spinner
    createAccountTxt.classList.add('d-none')
    // Simulate a delay for demonstration (replace with your actual form submission logic)
    setTimeout(() => {
        spinner.classList.add('d-none'); // Hide the spinner after 5 seconds
         createAccountTxt.classList.remove('d-none')
        // Submit the form after the delay
       this.submit();
    }, 5000);
});

    
    </script>

    
</body>
</html>