{% load static %}
<section>
        <header>
            <nav class="navbar navbar-expand p-2 bg-light-subtle position-fixed fixed-top">
                <h3 class="mx-3 text-dark fw-bold">
                    <img src="{% static 'images/aifpu.jpg' %}" alt="logo" width="70px">
                PolyUnwana Table-Water

            </h3>


<menu class="collapse navbar-collapse" style="float: left;">
    <ul class="nav ms-auto">

        <li class="nav-link">
            <a href="#" class="text-decoration-none text-secondary fw-bold">Features</a>
        </li>

        <li class="nav-link">
            <a href="#" class="text-decoration-none text-secondary fw-bold">About</a>
        </li>
        <li class="nav-link">
            <a href="#" class="text-decoration-none text-secondary fw-bold">Contact</a>
        </li>
        <li class="nav-link">
            <a href="#" class="text-decoration-none text-secondary fw-bold">Support</a>
        </li>
        <li class="nav-link">
            <a href="#" class="text-decoration-none text-secondary fw-bold">FAQs</a>
        </li>

        
        
    </ul>
    
</menu>
</nav>
</header>
</section>